body {
  background-color: black;
  color: white;
  font-family: serif;
  font-style: italic;
  font-size: 1.5em;
  padding: 2em; /* I'm not even sure this actually does something... */
}

#thebox {
  border-style: double;   /* Default. Changes via JS */
  border-color: red;      /* Default. Changes via JS */
  border-width: 6px;
  top: 30%;               /* Default. Changes via JS */
  left: 30%;              /* Default. Changes via JS */
  position: fixed;
  max-width: 30%;
  padding: 0.5em;
}
